# systemd configuration to run video looper at boot and
# ensure it runs continuously.

[Unit]
Description=Adafruit Raspberry Pi Video Looper
After=network.target

[Service]
Type=forking
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/local/bin/launch_video_looper
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target